header {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  background-color: #fff;
}

.background {
  z-index: 1100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.wrapper {
  z-index: 1200;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 60px;
}

header.scrolled {
  position: fixed;
  top: -40px;
}

header::after {
  z-index: 1000;
  position: absolute;
  top: 130px;
  left: 0;
  display: block;
  content: '';
  background-color: #f4f4f4;
  width: 100%;
  height: 2px;
}

header.scrolled::after {
  background-color: #ffca43;
  -webkit-box-shadow: 3px 0px 10px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.logo {
  position: absolute;
  top: 40px;
  left: 60px;
  background-image: url('../../assets/logo_column.png');
  background-size: cover;
  width: 128px;
  height: 52px;
  margin-top: 20px;
  margin-left: 0; 
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100%;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 10px 0 0 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 200;
  color: #222;
}

.user li {
  position: relative;
}

.user li + li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  width: 1px;
  height: 16px;
  background: #d3d3d3;
}

.user li:last-child {
  font-weight: 400;
}

.point {
  color: #46cfa7;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 33px 130px 0;
  box-sizing: border-box;
  width: inherit;
  height: 90px;
  background-color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu button {
  all: unset;
  cursor: pointer;
}

.menu button:hover::after {
  content: '';
  display: block;
  position: relative;
  top: 4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ffcd32;
  margin-top: 6px;
}

.iconMenu {
  all: unset;
  position: absolute;
  top: 40px;
  right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  margin-top: 25px;
}

.iconMenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.myPage::before {
  content: '';
  background-image: url('../../assets/icon_person.png');
  background-size: cover;
  width: 25px;
  height: 28px;
}

.cart::before {
  content: '';
  background-image: url('../../assets/icon_cart.png');
  background-size: cover;
  width: 25px;
  height: 28px;
}

.srOnly {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (max-width: 1023px) {
  header {
    height: 96px;
  }

  header::after {
    top: 96px;
    height: 1px;
  }
  
  header.scrolled {
    top: -44px;
  }

  .wrapper {
    padding: 0;
  }

  .logo {
    top: 0;
    left: 0;
    margin: 15px 0 0 20px;
    background-image: url('../../assets/logo_row.png');
    width: 167px;
    height: 22px;
  }

  .scrolled .logo {
    top: 44px;
    background-image: url('../../assets/logo_row.png');
    width: 167px;
    height: 22px;
  }

  .user {
    padding: 0;
    height: 52px;
    border-bottom: solid 1px #f4f4f4;
  }

  .scrolled .user {
    border-bottom: none;
  }

  .menu {
    justify-content: space-around;
    align-items: center;
    gap: 0;
    height: 44px;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #787878;
  }

  .menu button:hover::after  {
    all: unset;
  }

  .iconMenu {
    top: 0;
    right: 0;
    margin: 0;
  }
  
  .scrolled .iconMenu {
    top: 44px;
  }

  .iconMenu a {
    justify-content: flex-start;
    align-items: flex-start;
    width: 52px;
    height: 52px;
    padding: 13px 0 0 10px;
  }

  .myPage::before {
    display: none;
  }

  .cart::before {
    width: 21px;
    height: 23.5px;
  }
}
